:root {
    --base03: #191919;
    --red: #a54242;
    --green: #84b97c;
    --blue: #5f819d;
    --magenta: #85678f;
    --cyan: #5e8d87;
    --orange: #EBCB8B;
}

body, body * {
    margin: unset;
    box-sizing: unset;
    padding: unset;
    font-size: 14px;
    color: #839496;
    text-decoration: unset;
}


@media (max-width: 500px) {
    .links-container {
        flex-direction: column !important;
        order: 2 !important;        
        /* width: 100vw !important;  */
    }
    .terminal-screen{
        border: none !important;
    }
    #search {
        order: 1 !important;
    }

    #middle {
        vertical-align: none !important;
    }

    #inner {
        margin-left: 0  !important;
        margin-right: 0  !important;
    }

    .user {
        order: 0 !important;
    }


}

/* elements */
body {
    background-color: var(--base03);
    font-family: "Iosevka Term";
    color: var(--base0);
    font-size: 14px;
}

ul {
    list-style-position: inside;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

input {
    background-color: #212121;
    caret-color: var(--base0);
    outline: none;
    border: none;
    color: var(--base0);
    font-family: "Iosevka Term";
    font-size: 14px;
    padding-left: 5px;
}

.terminal-screen {
    background-color: #212121;
    overflow: hidden;
    border: 0px solid #5f5a60;
    padding: 20px;
    border-radius: 5px; 
}

.terminal-screen:hover {
    box-shadow: 0px 0px 8px 5px  #302f2f; 
    transition: all 0.25s;
}

#outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

#middle {
    display: table-cell;
    vertical-align: middle;
}

#inner {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}


#search {
    display: flex;
    width: 100%;
    order: 2;
}

#search-bar {
    order: 4;
    overflow: hidden;
    background: var(--base03);
    font-family: "Iosevka Term";
    display: flex;
}

.links-container {
    order: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 30%;
    padding: 20px;
    justify-content: space-around;
}

.main,
.social,
.programming {
    width: auto;
    position: relative;
    padding: 10px;
    transition: background-color 0.3s;
    color: var(--cyan);
}

.main {
    order: 0;
}

.social {
    order: 1;
}

.programming {
    order: 4;
}

/* hyperlinks */

a:link,
a:visited {
    color: var(--base0);
    text-decoration: none;
}

a:hover {
    color: var(--cyan);
    text-decoration: none;
}

a:active {
    color: var(--blue);
    text-decoration: none;
}

/* "syntax highlighting" */

.user {
    display: flex;
    order: 0;
}

.unix-user {
    color: var(--green);
    order: 0;
}

.unix-syntax2 {
    color: var(--cyan);
    order: 3;
}

/* blinking cursor */

.cursor {
    animation: blinker 1s step-start infinite;
    color: var(--base0);
    order: 4;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* section headings */

#main-h, #social-h, #programming-h{
    font-weight: bold;

}
#main-h {
    color: var(--magenta);
}

#social-h {
    color: var(--orange);
}


#programming-h {
    color: var(--red);
}
